%section.banner-area.relative
		.container
				.row.fullscreen.align-items-center.justify-content-center
						.section-top-border
								%h1.text-center.text-uppercase
										= @el_evento.nombre
								%h5.text-center
										= @el_evento.fecha.strftime("%d-%m-%Y")
								%br
								%br
								%h3.mb-30 Listados de Personas
								%table.table
										%thead
												%tr
														%th.text-center 
														%th.text-center Integrante
														%th.text-center Acciones
												- @integrantes.each do |integrante|
														%tr
																%td.text-center
																		%a{:href => "/persona/delete"}
																				%span.glyphicon.glyphicon-remove
																%td.text-center
																		=integrante.nombre
																%td.text-center
																		%a{:href => "/persona/delete/#{integrante.id}"} Eliminar
																		%a{:href => "#"} Actualizar
																
								%form{:action => "/persona/create/#{@el_evento.id}", :method => 'POST' }
										%input.common-input.mt-20.text-success{:name => "nombre", :placeholder => "Nombre del integrante", :required => "", :type => "text"}/
										%input{:name => "#{@el_evento.id}", :type => "hidden"}
										%br/
										%button.primary-btn.white-bg.d-inline-flex.align-items-right{:type => 'submit'}
												%span.mr-10 Agregar Persona
										%br/
														