/-if (@productos!=[])
	%section.banner-area.relative
		.container
			.row.fullscreen.align-items-center.justify-content-center
				.section-top-border
					%h3.mb-30 Listados de productos
					%table.table
						%thead
							%tr
								%th.text-center 
								%th.text-center Producto
								-@productos.each do |producto|
									%tr
										%td 
											%a{:href => "#"}
												%span.glyphicon.glyphicon-remove
										%td.text-center
											= producto.nombre
										%td.text-center
											%a{:href => "#", "data-target" => "##{producto.id}", "data-toggle" => "modal"} Actualizar
											/ Modal
											%div.modal.fade{:id => "#{producto.id}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
												.modal-dialog{:role => "document"}
													.modal-content
														.modal-header
															%h5#exampleModalLabel.modal-title.text-center Actualizar Datos
														.modal-body
															%form{:action => "/producto/update/#{producto.id}", :method => 'post'}
																%input{:value => "#{producto.nombre}", :name => "nombre", :type => "text"}
																%button.primary-btn.white-bg.d-inline-flex.align-items-center.mt-20{:type => 'submit'}
																	Cambiar
														.modal-footer
															%button.primary-btn.white-bg.d-inline-flex.align-items-center.mt-20{"data-dismiss" => "modal", :type => "button"}
																Close
/ Start Conatct- Area
/%section.contact-area.pt-100.pb-100.relative
	.overlay.overlay-bg
	.container
		.row.justify-content-center.text-center
			.single-contact.col-lg-6.col-md-8
				%h2.text-white
					Agregar
					%span Nuevos productos
				%p.text-white
					Productos involucrados en el asadazo.
		%form.contact-form{:action => '/producto/create', :method => 'POST'}
			.row.justify-content-center
				.col-lg-5
					%input.common-input.mt-20{:name => "nombre", :onblur => "this.placeholder = 'Enter your name'", :onfocus => "this.placeholder = ''", :placeholder => "Ingrese nombre de producto", :required => "", :type => "text"}/
				.col-lg-10.d-flex.justify-content-end
				%button.primary-btn.white-bg.d-inline-flex.align-items-center.mt-20{:type => 'submit'}
					%span.mr-10 Agregar
					%span.lnr.lnr-arrow-right
		%a.primary-btn.white-bg.d-inline-flex.align-items-center.mt-20{:type => 'button',:href => '/calculo'}
			%span.mr-10 Ir a Calculo
/ End Conatct- Area
